<li class="card course-card">
  <span class="header">
    {{ include.title }}
  </span>
  <hr />
  <div class="body">
    {% if include.description %}
      <p>{{ include.description }}</p>
    {% endif %}
    {% if include.code %}
      <p class="course-meta"><strong>Course Code:</strong> {{ include.code }}</p>
    {% endif %}
    {% if include.credits and include.code == nil %}
      <p class="course-meta"><strong>Credits:</strong> {{ include.credits }}</p>
    {% elsif include.credits %}
       <p class="course-meta additional-meta"><strong>Credits:</strong> {{ include.credits }}</p>
    {% endif %}
  </div>
</li>